body {
  background-image: url(texture-3344640_1920.jpg);
}

h1,
#big,
#form,
#score {
  text-align: center;
}

#big {
  font-size: 8em;
}

#score {
  font-size: 4em;
  color: green;
}

#plus {
  color: white;
  background-color: red;
}

#minus {
  color: white;
  background-color: blue;
}

button {
  margin-left: 47%;
  width: 100px;
  height: 2em;
}
